Before diving into  Loops and functions in R , we should first Review the logical operators in R , which are of extreme importance when working particularly with R.

In [21]:
############################## Logical operators ################################################

# & # And operator 
# | # Or operator 
# ! # Not 

# Logical operators will return TRUE if an operation is TRUE or a condition is Met. 
# EXAMPLES 

x <- 25
x > 10
x >= 25
x < 20

# AND operator 
 x < 20 & x > 5 # is x lower than 20 AND higher than 5 

# OR operator
x < 20 | x > 5 # is x lower than 20 OR higher than 5 

# NOT operator 
! (10 == 13 ) # not 10 is equal to 13 , TRUE will be returned because basically the statement is sayin 10 is not equal to 13 which is TRUE 


# working with a built-in dataset to illustrate that 

dataframe <- USArrests
head(dataframe)
# selecting the cities where the murder is > 10 AND Rape > 20 

dataframe[(dataframe$Murder > 10) & (dataframe$Rape > 20) ,]

# selecting the cities where the murder is > 10 OR Rape > 20 

dataframe[(dataframe$Murder > 10) | (dataframe$Rape > 20) ,]

[1] TRUE

[1] TRUE

[1] FALSE

[1] FALSE

[1] TRUE

[1] TRUE

           Murder Assault UrbanPop Rape
Alabama    13.2   236     58       21.2
Alaska     10.0   263     48       44.5
Arizona     8.1   294     80       31.0
Arkansas    8.8   190     50       19.5
California  9.0   276     91       40.6
Colorado    7.9   204     78       38.7

               Murder Assault UrbanPop Rape
Alabama        13.2   236     58       21.2
Florida        15.4   335     80       31.9
Georgia        17.4   211     60       25.8
Illinois       10.4   249     83       24.0
Louisiana      15.4   249     66       22.2
Maryland       11.3   300     67       27.8
Michigan       12.1   255     74       35.1
Nevada         12.2   252     81       46.0
New Mexico     11.4   285     70       32.1
New York       11.1   254     86       26.1
South Carolina 14.4   279     48       22.5
Tennessee      13.2   188     59       26.9
Texas          12.7   201     80       25.5

               Murder Assault UrbanPop Rape
Alabama        13.2   236     58       21.2
Alaska         10.0   263     48       44.5
Arizona         8.1   294     80       31.0
California      9.0   276     91       40.6
Colorado        7.9   204     78       38.7
Florida        15.4   335     80       31.9
Georgia        17.4   211     60       25.8
Hawaii          5.3    46     83       20.2
Illinois       10.4   249     83       24.0
Indiana         7.2   113     65       21.0
Louisiana      15.4   249     66       22.2
Maryland       11.3   300     67       27.8
Michigan       12.1   255     74       35.1
Mississippi    16.1   259     44       17.1
Missouri        9.0   178     70       28.2
Nevada         12.2   252     81       46.0
New Mexico     11.4   285     70       32.1
New York       11.1   254     86       26.1
North Carolina 13.0   337     45       16.1
Ohio            7.3   120     75       21.4
Oregon          4.9   159     67       29.3
South Carolina 14.4   279     48       22.5
Tennessee      13.2   188     59       26.9
Texas          12.7   201     80       25.5
Utah            3.2   120     80       22.9
Virginia        8.5   156     63       20.7
Washington      4.0   145     73       26.2

######################## if  , else  & else if STATEMENTS ################################3

# By definition if is a function that returs a certain value   if a condition is met and returns another value or statement if the condition is not met. 

# Structure of the function 

# if (x == 20){

# the code to execute if the condition is met }

# adding an else if  statement -- if the condition is not met , the result to be returned. 

# if not any of these conditions are met , ELSE will return a final result.

In [23]:
# Example 1
x <- 20
if (x == 10) {
    print('x is equal to 10')
} else if(x == 12){
    print('x is equal to 12')
}else{
    print('x is not equal to 10 or 12')
}

[1] "x is not equal to 10 or 12"

In [27]:
# Example 2 
grade <-  6
passing <- TRUE
if (grade > 5){
    print('the student did not pass the course')
}else{
    print('the student passed the course')
}
# try modifying the values of grade , so that the final decision and the code output will change accordingly.

[1] "the student did not pass the course"

In [31]:
# Example 3
ham_sales <- 10
cheese_sales <- 20
report <- 'blank'
if (ham_sales >= 10 & cheese_sales >= 20){
    report <- "strong sales of both ham and cheese"
}else if(ham_sales == 0 & cheese_sales == 0){
    report <- "No sales Today!"
}else{
    report <- "we sold something today"
}

# While loops  are used to loop until a specific condition is met.

In [34]:
x <- 0 
while(x < 20){
    print(paste0('x is :' , x))
    x <- x+2
if(x==20){
    print("x is now equal to 20")
     }
}
#once x is equal to 20 , the condition is no longer true  and so the loop will stop

[1] "x is :0"
[1] "x is :2"
[1] "x is :4"
[1] "x is :6"
[1] "x is :8"
[1] "x is :10"
[1] "x is :12"
[1] "x is :14"
[1] "x is :16"
[1] "x is :18"
[1] "x is now equal to 20"

# For loops is used to repeat a specific block of code a known number of times.

In [36]:
# for every element in an object execute some code. 
# let's create a vector 
salary <- c(1290,9430,2902,3902)
for(temp.var in salary){
    # execute some code for every element in that object
    print(temp.var)
}

[1] 1290
[1] 9430
[1] 2902
[1] 3902

In [37]:
# Example 1 
for(temp.var in salary){
    result <- temp.var * 2 
    print('the salary is doubled and is now equal to : ')
    print(result)
}

[1] "the salary is doubled and is now equal to : "
[1] 2580
[1] "the salary is doubled and is now equal to : "
[1] 18860
[1] "the salary is doubled and is now equal to : "
[1] 5804
[1] "the salary is doubled and is now equal to : "
[1] 7804

In [45]:
# for loops within matrices 
matrix1 <- matrix(1:20 , nrow=4)
for(i in matrix1){
    print(i)
}
for (row in 1:nrow(matrix1)){
    for(col in 1:ncol(matrix1)){
        print(paste('The element at row', row, 'and col:' , col , 'is' , matrix1[row,col]))
    }
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10
[1] 11
[1] 12
[1] 13
[1] 14
[1] 15
[1] 16
[1] 17
[1] 18
[1] 19
[1] 20
[1] "The element at row 1 and col: 1 is 1"
[1] "The element at row 1 and col: 2 is 5"
[1] "The element at row 1 and col: 3 is 9"
[1] "The element at row 1 and col: 4 is 13"
[1] "The element at row 1 and col: 5 is 17"
[1] "The element at row 2 and col: 1 is 2"
[1] "The element at row 2 and col: 2 is 6"
[1] "The element at row 2 and col: 3 is 10"
[1] "The element at row 2 and col: 4 is 14"
[1] "The element at row 2 and col: 5 is 18"
[1] "The element at row 3 and col: 1 is 3"
[1] "The element at row 3 and col: 2 is 7"
[1] "The element at row 3 and col: 3 is 11"
[1] "The element at row 3 and col: 4 is 15"
[1] "The element at row 3 and col: 5 is 19"
[1] "The element at row 4 and col: 1 is 4"
[1] "The element at row 4 and col: 2 is 8"
[1] "The element at row 4 and col: 3 is 12"
[1] "The element at row 4 and col: 4 is 16"
[1] "The element at row 4 and col: 5 is 20"

In [42]:
# loops within lists 
my_list <- list(salary , matrix1 , USArrests)
for(item in my_list){
    print(item)
}

[1] 1290 9430 2902 3902
     [,1] [,2] [,3] [,4] [,5]
[1,]    1    5    9   13   17
[2,]    2    6   10   14   18
[3,]    3    7   11   15   19
[4,]    4    8   12   16   20
               Murder Assault UrbanPop Rape
Alabama          13.2     236       58 21.2
Alaska           10.0     263       48 44.5
Arizona           8.1     294       80 31.0
Arkansas          8.8     190       50 19.5
California        9.0     276       91 40.6
Colorado          7.9     204       78 38.7
Connecticut       3.3     110       77 11.1
Delaware          5.9     238       72 15.8
Florida          15.4     335       80 31.9
Georgia          17.4     211       60 25.8
Hawaii            5.3      46       83 20.2
Idaho             2.6     120       54 14.2
Illinois         10.4     249       83 24.0
Indiana           7.2     113       65 21.0
Iowa              2.2      56       57 11.3
Kansas            6.0     115       66 18.0
Kentucky          9.7     109       52 16.3
Louisiana        15.4     249       66 22.2
Maine             2.1      83       51  7.8
Maryland         11.3     300       67 27.8
Massachusetts     4.4     149       85 16.3
Michigan         12.1     255       74 35.1
Minnesota         2.7      72       66 14.9
Mississippi      16.1     259       44 17.1
Missouri          9.0     178       70 28.2
Montana           6.0     109       53 16.4
Nebraska          4.3     102       62 16.5
Nevada           12.2     252       81 46.0
New Hampshire     2.1      57       56  9.5
New Jersey        7.4     159       89 18.8
New Mexico       11.4     285       70 32.1
New York         11.1     254       86 26.1
North Carolina   13.0     337       45 16.1
North Dakota      0.8      45       44  7.3
Ohio              7.3     120       75 21.4
Oklahoma          6.6     151       68 20.0
Oregon            4.9     159       67 29.3
Pennsylvania      6.3     106       72 14.9
Rhode Island      3.4     174       87  8.3
South Carolina   14.4     279       48 22.5
South Dakota      3.8      86       45 12.8
Tennessee        13.2     188       59 26.9
Texas            12.7     201       80 25.5
Utah              3.2     120       80 22.9
Vermont           2.2      48       32 11.2
Virginia          8.5     156       63 20.7
Washington        4.0     145       73 26.2
West Virginia     5.7      81       39  9.3
Wisconsin         2.6      53       66 10.8
Wyoming           6.8     161       60 15.6

# FUNCTIONS IN R

In [ ]:
# Syntax of a function in R 
Name_of_function <- function(input1 , input2 , input3){
    # code to be executed
    result <- input1 + input2
    return(result)
}

In [48]:
# Example 1 
multiplication_numbers <- function(number1 , number2){
    return(number1 * number2)
}
multiplication_numbers(5 , 6)

[1] 30

In [49]:
#Example 2 
summing <- function(number1 , number2){
    summation <- number1 + number2
    return(summation)
}
result <- summing(43 , 89)
print(result)

[1] 132